$product-media-size: 40px;
$bp-table-column: 660px;

.c-table {
    @include e-card;
    padding: 0 0 spacing('normal') 0;
    width: 100%;
}

.c-table__header {
    display: flex;
    align-items: baseline;
    margin-bottom: spacing('small');
    padding: 0 spacing('normal');
    flex-wrap: wrap;
    justify-content: space-between;
}

.c-table__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: spacing();
    margin-right: auto;
}

.c-table__action {
    margin-left: auto;
}

.c-table__navigation__arrows {
    margin-right: spacing('small');
}

.c-icon {
    margin-right: 0;
}

.c-table__footer {
    display: flex;
    align-items: baseline;
    margin-top: spacing('normal');
    padding: spacing('normal');
}

.c-table__title {
    font-size: 20px;
    margin-bottom: 0;
    margin-left: spacing('small');
    padding-top: spacing('normal');
}

.c-table__data {
    width: 100%;
    font-size: 13px;
    border-collapse: collapse;

    th {
        text-align: right;
    }

    th,
    td {
        &:first-child {
            padding-right: spacing('normal');
            width: 75px;
        }

        padding: spacing('extra-small');
        border-bottom: 1px solid rgba(darken(white, 40%), 0.15);

        img {
            width: $product-media-size;
            height: $product-media-size;
            vertical-align: middle;
        }
    }
}

@media(max-width:$bp-table-column) {
    .c-table__data {
        display: flex;
        overflow-x: auto;
    }

    thead,
    tbody {
        display: flex;
        flex-grow: 1;
        min-width: max-content;

    }

    tr {
        display: flex;
        flex-grow: 1;
        flex-shrink: 0;
        flex-direction: column;
    }

    th,
    td {
        padding: spacing('extra-small') spacing();

        &:first-child {
            padding-right: spacing() !important;
            width: initial !important;
        }


    }

    th.c-table--hight-pic {
        height: $product-media-size;
        box-sizing: content-box;
        display: flex;
        align-items: center;

    }

    .c-table__navigation {
        margin-right: 0 !important;
    }
   
    .c-table__footer{
        display: none;
    }

}